.App {
	background-color: #eff0f0;
	min-height: 100vh;
	display: flex;
	/* flex-direction: column;
	align-items: center; */
	justify-content: center;
	color: #707070;
}

.Content-container {
	position: relative;
	top: 75px;
	width: 90%;
	background-color: white;
}
@media screen and (max-width: 750px) {
	.Content-container {
		top: 175px;
	}
}

.Content-title {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 150px;
	padding: 0 10%;
	color: #414042;
	font-size: calc(8px + 3vmin);
	text-align: center;
	font-family: Palatino serif;
}

/*YearWrapper*/
.Years-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Year-container {
	display: block;
	position: relative;
	width: 75%;
	max-width: 750px;
	border: solid 2px #6a2f0a;
	box-sizing: border-box;
	margin: 2px 0;
	padding: 10px 0 5px;
	text-align: center;
	cursor: pointer;
}
@media screen and (max-width: 750px) {
	.Year-container {
		width: 90%;
	}
}

.Year-title {
	padding: 10px;
}

.Year-content-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	max-height: 0px;
	transition: max-height 1s;
}
.Year-container:hover .Year-content-container {
	max-height: 500px;
	transition: max-height 1s;
}

.Year-program-container {
	margin: 2px;
	padding: 10px;
	background-color: #e6b29b;
	border-radius: 5px;
}

.Year-program-container a {
	text-decoration: none;
	color: white;
}

.Year-program-date-container {
	position: relative;
}

.Year-program-pdf {
	position: absolute;
	left: 0;
	border: solid 1px black;
	background-color: white;
	z-index: 1;
}

/*Navbar*/
.Navbar-container {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 320px;
	height: 75px;
	font-family: Palatino serif;
	align-items: center;
	justify-content: space-evenly;
	background-color: #0a376a;
	z-index: 1;
}
@media screen and (max-width: 750px) {
	.Navbar-container {
		height: 175px;
		flex-direction: column;
	}
}

.Navbar-logo-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-decoration: none;
	width: 25%;
	min-width: 275px;
	height: 100%;
}
@media screen and (max-width: 750px) {
	.Navbar-logo-container {
		height: 75px;
		width: 100%;
	}
}

.Navbar-logo {
	padding: 5px 10px;
	max-width: 100%;
	max-height: 100%;
}

.Navbar-texts-container {
	display: flex;
	flex-direction: column;
	padding: 20px 1px;
}

.Navbar-unitext,
.Navbar-venuetext {
	display: inline-flex;
	height: 50%;
	align-items: center;
	justify-content: flex-end;
}

.Navbar-venuetext {
	color: white;
	font-size: 16px;
}

.Navbar-unitext {
	color: #c4c4c4;
	font-size: 12px;
}

.Navbar-items-container {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 75%;
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 750px) {
	.Navbar-items-container {
		width: 100%;
	}
}

.Navbar-items-container li {
	display: inline-block;
	position: relative;
	list-style: none;
	padding: calc(1vmin) calc(2vmin);
}

@media screen and (max-width: 750px) {
	.Navbar-items-container li {
		padding: calc(1vmin) calc(4vmin);
	}
}

.Navbar-items-container li:hover {
	background-color: white;
	transition: 0.8s;
}

.Navbar-items-container li:hover a {
	color: #0a376a;
	transition: 0.8s;
}

.Navbar-items-container li a {
	text-decoration: none;
	color: white;
}

/*Homepage.js*/
.Homepage-head-container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	padding: 0 10%;
}

.Homepage-body-container {
	padding: 0 10%;
}

/*ProjectCrew.js*/
.Crew-coordinators-wrapper {
	display: flex;
	flex-direction: row;
}
@media screen and (max-width: 750px) {
	.Crew-coordinators-wrapper {
		flex-wrap: wrap;
	}
}

.Crew-coordinator-container {
	width: 100%;
	padding: 0 2.5%;
	margin-bottom: 25px;
}
@media screen and (max-width: 750px) {
	.Crew-coordinator-container {
		padding: 0 5%;
	}
}

.Crew-members-wrapper {
	display: flex;
	flex-direction: row;
}
@media screen and (max-width: 750px) {
	.Crew-members-wrapper {
		/* flex-direction: column; */
		flex-wrap: wrap;
	}
}

.Crew-member-container {
	padding: 0 2.5%;
	width: 50%;
}
@media screen and (max-width: 750px) {
	.Crew-member-container {
		padding: 0 5%;
		width: 100%;
	}
}

.Crew-head-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}

.Crew-photo-container {
	display: inline-flex;
	justify-content: flex-end;
	padding: 0 2.5%;
}

.Crew-photo {
	min-width: 150px;
	min-height: 150px;
}

.Crew-title-container {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	padding: 0 2.5%;
}

.Crew-title {
	font-size: calc(5px + 3vmin);
}

.Crew-name {
	color: #0a376a;
}

/* .Crew-body-container {
	padding: 0 5%;
}
@media screen and (max-width: 750px) {
	.Crew-body-container {
		padding: 0 10%;
	}
} */

/*Panoramicview.js*/
.Panoramicview-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
