body {
	margin: 0;
	font-family: 'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	color: #414042;
	font-size: calc(8px + 3vmin);
	text-align: center;
	font-family: Palatino serif;
}

p {
	text-align: justify;
	font-size: calc(15px + 0.390625vw);
}
